html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: white !important;
}
a:visited {
  color: white !important;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
.input {
  width: 40rem;
}
.btn-SvgIcon {
  margin-left: 10px;
}
.btn-googleplus {
  background-color: #dd5144 !important;
  color: white !important;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  margin-right: 1.6rem;
}
.paper {
  margin: 2rem;
}
.article-image {
  margin: auto !important;
}
.MuiTableRow-root.MuiTableRow-head {
  background: #3f51b5;
}
.MuiTableCell-head {
  color: white !important;
  font-size: 1rem !important;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  margin-right: 0.2rem;
}
.upload-input {
  display: none;
}
.MuiButtonBase-root.MuiButton-root.btn-submit-article.MuiButton-contained.MuiButton-containedPrimary {
  width: 40rem;
  margin-top: 2rem;
}
.left-image {
  background: url("./components/art.jpg") no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.page {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
.category-paper {
  width: 100%;
  margin-top: 50px;
}
.mt-2 {
  margin-top: 1rem !important;
}
.select-category {
  width: 80%;
}
.article-link {
  color: black !important;
  z-index: 22;
}
a.article-link:visited {
  color: black !important;
}

.About {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.About > div {
  position: relative;
  width: 100%;
  height: 472px;
  min-height: 472;
  max-height: 472px;

  background: url("./assets/_home/about.png") no-repeat;
  background-size: 100%;
}

.teacherAvatar {
  position: absolute !important;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
.about-part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.aboutDown {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: auto;
  border-top: 5px solid blue;
  width: 60%;
  max-width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutPart3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  width: 40%;
  min-width: 40%;
  min-height: 355px;
}
